body {
  font-family: sans-serif;
}

a:link {
  text-decoration: none;
  color: #cb3434;
}
a:visited {
  text-decoration: none;
  color: #9a3737;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}

/* #picListView img {
    width: 150px;
    height: 100px;
} */

.listViewDiv {
  display: flex;
  align-items: space-between;
}

.listViewDiv.namePrice {
  color: blue;
  font-weight: bolder;
  flex-direction: column;
  align-items: space-evenly;
}

.page-title {
  text-align: center;
  font-family: cursive, Impact, Haettenschweiler, "Arial Narrow Bold",
    sans-serif;
}

/* Header */

.header {
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #131921;
  position: sticky;
  top: 0;
  z-index: 100;
}

.header a {
  margin: 0px 5px;
}

.header a:link {
  text-decoration: none;
  color: #edb061;
}

.header a:visited {
  color: #ff9f50;
}

.header a:hover {
  color: #dabb50;
}

.header__logo {
  width: 100px;
  height: 63px;
  object-fit: contain;
  margin: 0 20px;
  margin-top: 0px;
  margin-bottom: 0px;
}

/* .header__search {
    display: flex;
    flex: 1;
    align-items: center;
    border-radius: 24px;
}

.header__searchInput {
    height: 12px;
    padding: 10px;
    border: none;
    width: 100%;
}

.header__searchIcon {
    padding: 5px;
    height: 22px !important;
    background-color: #cd9042;
} */

.header__option {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
  margin-right: 10px;
  color: white;
  justify-content: space-around;
  align-items: center;
}

.header__optionLineOne {
  font-size: large;
  justify-content: center;
  align-items: center;
}

.header__links {
  font-size: 13px;
  font-weight: 800;
  padding: 2px 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.header__optionBasket {
  display: flex;
  align-items: center;
  color: white;
  margin-left: auto;
}

.header__basketCount {
  margin-left: 10px;
  margin-right: 10px;
  margin-left: auto;
}

.header__nav {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 30%;
}

/* home */
.home-design {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#homeImg {
  display: block;
}

#home-header {
  font-family: cursive, Impact, Haettenschweiler, "Arial Narrow Bold",
    sans-serif;
  justify-content: center;
  text-align: center;
}

#home-products {
  display: flex;
  justify-content: center;

  border-radius: 15px;
  font-weight: bolder;
  font-size: larger;
  padding: 1rem;
}

/* all products */
.product {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.products li {
  list-style-type: none;
  flex: 0;
  /* padding: 0;
    flex: 0 1 34rem;
    margin: 1rem;
    height: 50rem; */
  border-bottom: 0.1rem #c0c0c0 solid;
}

.product__name {
  font-size: 2rem;
  font-weight: bold;
}

.product__price {
  font-size: 2rem;
  font-weight: bold;
}

.product__image {
  width: 300px;
  height: 200px;
  margin-top: 30px;
  margin-right: 40px;
}

.cart__btn {
  margin-bottom: 20px;
}

/* single product */
.backTo_products {
  padding: 1rem;
}

.single__product {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  padding: 1rem;
}
.singleProduct__image {
  flex: 2 1 60rem;
}

/* .singleProduct__image img {
    max-width: 60rem;
    width: 100%;
} */

.singleProduct__info {
  flex: 1 1 30rem;
}

.singleProduct__info ul {
  list-style-type: none;
  padding: 0;
}

/* Cart */
.cart {
  display: flex;
  flex-wrap: wrap;
  margin: 2rem;
  align-items: flex-start;
}

.cart__list {
  flex: 1 1 10rem;
}

.cart__list__container {
  /* padding: 20; */
  list-style-type: none;
  padding: 1rem;
}

.cart__list__container li {
  display: flex;
  justify-content: space-between;

  padding-bottom: 1rem;
  margin-bottom: 1rem;
  border-bottom: 0.1rem #c0c0c0 solid;
}

.cart__list__container li img {
  max-width: 10rem;
  max-height: 10rem;
}

.cart__list__container li:first-child {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.cart__image {
  flex: 1 1;
}

.cart__name {
  flex: 8 1;
}

.cart__price {
  flex: 1 1;
  font-size: 2.5rem;
  text-align: right;
}

/* Sign in form */
.form {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.form__container {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  width: 32rem;
  padding: 2rem;
  border: 0.1rem #c0c0c0 solid;
  border-radius: 0.5rem;
}

.form__container li {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
  margin-top: 1rem;
}

input {
  padding: 0.5rem;
  border: 0.1rem #c0c0c0 solid;
  border-radius: 0.5rem;
}

/* Admin product & order tables */
.product__list {
    margin: 1rem;
}

.order__list {
    margin: 1rem;
}

.table {
    width: 100%;
}

th {
    text-align: left;
}

tbody > tr:nth-child(odd) {
    background-color: #f0f0f0;
}
